.task-block {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 24px 0 0 24px;
  width: 759px;

  z-index: 2;

  &__label {
    margin: 0 0 3px 0;

    font-family: "Salesforce Sans";
    font-size: 12px;
    line-height: 15px;
    color: #706e6b;
  }

  &__text {
    padding: 12px;
    height: 92px;

    font-family: "Salesforce Sans";
    font-size: 13px;
    line-height: 17px;
    color: #2b2826;

    border: 1px solid #dddbda;
    border-radius: 4px;
    background: #ffffff;
  }

  &__text:focus-visible {
    outline: 1px auto rgba(47, 128, 237, 1);
  }

  &__btn {
    margin: 10px 0 0 0;
    width: 191px;
    height: 36px;

    align-self: flex-end;

    background: #2f80ed;
  }

  &__btn:focus-visible {
    outline: 1px auto #000;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .task-block {
    margin: 24px 0 0;
    width: 710px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .task-block {
    margin: 24px 0 0;
    width: 100%;

    &__btn {
      width: 100%;
    }
  }
}
