<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
</head>
<body>
    <div class="container">
        <h1 class="visually-hidden">APP TODO LIST</h1>
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="https://senlainc.com/" title="web site company SENLA">
                    <img src="./images/content/logo.svg" width="174" height="44" alt="Company SENLA Logo">
                </a>
                <form action="./server.php" method="POST">
                    <input class="header__search search" type="text" placeholder="Search task for to do">
                </form>
            </div>
        </header>
        <main class="main">
            <ul class="filter">
                <li class="filter__item filter__item--active">All</li>
                <li class="filter__item">Active</li>
                <li class="filter__item">Done</li>
            </ul>

            <section class="task-block">
                <h2 class="visually-hidden">Add task</h2>
                <label class="task-block__label" for="new-task">New Task</label>
                <textarea class="task-block__text" name="add-task" id="new-task" cols="10" rows="5"></textarea>
                <button type="button" class="task-block__btn btn btn--add">Add</button>
            </section>

            <ul class="list-task"></ul>
        </main>
    </div>
</body>
</html>